{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}login | wait{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Log in</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>

                <!--                <p class="text-center mt-3">-->
                <!--                    <a href="{% url 'password_reset' %}">Forgot your password?</a>-->
                <!--                </p>-->


                <p class="text-center mt-2">
                    Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.
                </p>


            </div>
        </div>
    </div>
</div>

{% endblock %}