{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}edit entry | wait{% endblock %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-header">Edit entry</div>
    <div class="card-body">
        <form method="post" id="weight-edit-form">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.weight|as_crispy_field }}
            </div>
            <div class="mb-3">
                <label for="id_timestamp" class="form-label">Timestamp</label>
                <input
                        type="datetime-local"
                        id="id_timestamp"
                        name="timestamp"
                        class="form-control"
                        required
                        max="{{ todaymax|date:'Y-m-d\\TH:i:s' }}"
                        step="1"
                />
            </div>
            <div class="d-flex justify-content-end gap-2 mt-3">
                <a href="{% url 'all_entries' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
      // prefill timestamp
      const tsInput = document.getElementById("id_timestamp");
      if (tsInput) {
        const now = new Date("{{ form.timestamp.value|date:'Y-m-d\\TH:i:s' }}"+"Z");

        const pad = (n) => String(n).padStart(2, "0");
        const local =
          [now.getFullYear(), pad(now.getMonth() + 1), pad(now.getDate())].join(
            "-"
          ) +
          "T" +
          [pad(now.getHours()), pad(now.getMinutes()), pad(now.getSeconds())].join(":");
        tsInput.value = local;
      }

      // on submit, append offset
      document
        .getElementById("weight-edit-form")
        .addEventListener("submit", (e) => {
          e.preventDefault();
          const tsInput = document.getElementById("id_timestamp");
          tsInput.value = new Date(tsInput.value).toISOString().slice(0, 19);
          e.target.submit();
        });


    });
</script>
{% endblock %}
