body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.btn-link {
  color: #fff;
  text-decoration: none;
}

.btn-link:hover {
  color: #0ff;
  text-decoration: underline;
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
/* pwa specific */
@media (display-mode: standalone) {
  .navbar {
    padding-top: env(safe-area-inset-top);
  }
}
